<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <title>List Task</title>
</head>
<body>
<h3>Task</h3>
<p>
    <a th:href="@{/task/create}">
        Add new customer
    </a>
</p>
<p>
    <a th:href="@{/category}">
        category
    </a>
</p>
<div class="notify">
    <div th:if="${message}">
        <span th:text="${message}"></span>
    </div>
</div>
<div style="margin-bottom: 10px; margin-left: 110px">
    <form th:action="@{/task/search}" method="get">
        <label><input type="text" name="search"></label>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
<table id = "task">
    <thead>
    <tr>
        <th>STT</th>
        <th>Name</th>
        <th>Note</th>
        <th>Amount</th>
        <th>Category</th>
        <th>Description</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="c,cStatus : ${task}">
        <td th:text="${cStatus.count}"></td>
        <td th:text="${c.getName()}"></td>
        <td th:text="${c.getNote()}"></td>
        <td th:text="${c.getAmount()}"></td>
        <td th:text="${c.getCategory().getNameC()}"></td>
        <td th:text="${c.getCategory().getDescription()}"></td>
        <td><a th:href="@{/task/update/{id}(id=${c.getId()})}">update</a></td>
        <td><a th:href="@{/task/delete/{id}(id=${c.getId()})}">delete</a></td>
    </tr>
    </tbody>

</table>
<a class="btn btn-primary" th:if="${task.hasPrevious()}"
   th:href="@{'/task?page='+${task.number - 1}}">Previous</a>
<span th:text="${task.number + 1}"></span> | <span th:text="${task.totalPages}"></span>
<a class="btn btn-primary" th:if="${task.hasNext()}"
   th:href="@{'/task?page='+${task.number + 1}}">Next</a>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>
